/* line 10, ../compass/sass/style.scss */
body .container {
  padding-top: 2%;
}
/* line 12, ../compass/sass/style.scss */
body .container #title-header {
  text-align: center;
}
/* line 15, ../compass/sass/style.scss */
body .container #header {
  text-align: center;
}
